header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #1A1414;
  width: 100%;
  height: 20%;
}
header img {
  width: 10%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
}

footer {
  background-color: #1A1414;
  width: 100%;
  height: 20%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #141922;
}
main .cd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(90% / 5 - 10px );
  height: 350px;
  color: white;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #423F3D;
  border-radius: 10px;
}
main .cd img {
  width: 100%;
  padding: 10px;
}
main .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 40%;
  margin: 10px 0;
  font-size: 12px;
}
