// colori
$header_footer_color: #1A1414;
$mainColor: #141922;
$cd_background: #423F3D;

// block size
$main_width: 100%;


// cd size
$width_cd_calc: calc(90% / 5 - 10px );
$height-cd: 350px;
$cd_padding: 20px;
$img-width: 100%;
$img-padding: 10px;
$info_section_height: 40%;


// font-size
$font12: 12px;
